body {
    background-color: yellow;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: darkorange;
    font-weight: bold;
}
p {
    text-align: center;
    color: darkorchid;
}

.sitat {
    text-align: center;
    color: deeppink;
}

h2 {
    text-align: center;
    border-color: saddlebrown;
    color: skyblue;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
}
ul {
    color: darkmagenta;
    list-style-position: inside;
}
a {
    text-align: center;
}

img {
    border-radius: 40%;
    border-color: darkred;
    border-width: 7px;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
